.Login {
  background: #847cb2;
  width: 30%;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }

  .Login button{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .Login p{
    background-color:#0000;
    margin-top: 7rem;
  }

