.body {
  display: flex;
  flex-direction: column; 
}

.inner-body {
  display: flex;
  flex-direction: row;
}

.tweet-box {

    display: flex;
    flex-direction: column;
    width: 566px;
    height: 170px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #15202a;
    margin-left: 25rem;
    margin-bottom: 0.1rem;
    transition: 0.5s background-color
  }
  
  .tweet-box:hover { 
    background-color: #0c151d;
    border: #ffffff;
  }
  
  .picture {
    background-size: cover;
    margin-left: 25px;
    margin-top: 17px;
    border-radius: 50%;
    width: 55px;
    height: 50px;
  }
  .name {
    display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-top: 19px;
  min-width: 85px;
  height: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #ffffff;
  }
  
  
  
  .handle {
  margin-left: 10px;
  margin-top: 19px;
  min-width: 128px;
  height: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #75797d;
  }
  
  .tweet{
    margin-left: 15px;
    margin-top: 20px;
    width: 445px;
    height: 88px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #ffffff;
  }